Repository namesakefyi/namesake, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, content, dependencies, documentation, email, frontend, testing, workflows

.github/labeler.yml:

backend:
- changed-files:
  - any-glob-to-any-file: convex/**

# Add 'bug' label to any PR where the head branch name
# starts with `fix` or has a `fix` section in the name
bug:
- head-branch: ['^fix', 'fix']

content:
- changed-files:
  - any-glob-to-any-file: ['src/forms/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: package.json

documentation:
- changed-files:
  - any-glob-to-any-file: ['docs/**', 'CONTRIBUTING.md', 'README.md', 'SECURITY.md']

email:
- changed-files:
  - any-glob-to-any-file: ['emails/**']

frontend:
- changed-files:
  - any-glob-to-any-file: ['src/**', 'index.html']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**', '**/*.test.ts', '**/*.test.tsx', 'playwright.config.ts']

workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**', '.github/labeler.yml', '.github/dependabot.yml', '.husky/**', 'biome.json']

Changeset
  .changeset/fluffy-pigs-give.md
Labels: none

Tests
  src/components/app/PasswordStrength/PasswordStrength.test.tsx
  src/components/app/PasswordStrength/PasswordStrength.tsx
  vite.config.ts
Labels: frontend, testing

fix: Form width overflow (#657)
  .changeset/fluffy-pigs-give.md
  src/components/forms/AddressField/AddressField.tsx
Labels: frontend

Update auth config with new env
  .env.template
  convex/auth.ts
Labels: backend

Changeset
  .changeset/ninety-zebras-float.md
Labels: none

Update templates
  .env.local.template
  .env.template
  convex/auth.ts
Labels: backend

Update local vs prod settings
  convex/auth.ts
Labels: backend

Update ninety-zebras-float.md
  .changeset/ninety-zebras-float.md
Labels: none

fix: Env setup for Better Auth (#660)
  .changeset/ninety-zebras-float.md
  .env.local.template
  .env.template
  convex/auth.ts
Labels: backend

Logging
  src/main.tsx
Labels: frontend

Update env baseURL
  convex/auth.ts
  src/main.tsx
Labels: backend, frontend

chore: Auth Logging (#662)
  convex/auth.ts
  src/main.tsx
Labels: backend, frontend

Update deploy script
  .github/workflows/deploy.yml
Labels: workflows

chore: Update deploy script with new env variables (#663)
  .github/workflows/deploy.yml
Labels: workflows

Update env variables to point to actions subdomain instead of convex, fix cloud vs site config
  .env.template
  convex/auth.ts
  src/main.tsx
Labels: backend, frontend

Changeset
  .changeset/common-jars-read.md
Labels: none

Update naming for clarity
  .env.template
  convex/auth.ts
  src/main.tsx
Labels: backend, frontend

Update siteURL
  convex/auth.ts
Labels: backend

fix: HTTP actions subdomain (#664)
  .changeset/common-jars-read.md
  .env.template
  convex/auth.ts
  src/main.tsx
Labels: backend, frontend

Improve Vite chunking and dynamic loading
  src/components/forms/AddressField/AddressField.tsx
  src/forms/utils.ts
  src/hooks/usePasswordStrength.ts
  src/routes/_authenticated/forms/ma-court-order.tsx
  src/routes/_authenticated/forms/social-security.tsx
  vite.config.ts
Labels: content, frontend

Changeset
  .changeset/giant-animals-thank.md
Labels: none

New tests
  src/components/forms/AddressField/AddressField.tsx
  src/forms/__tests__/utils.test.ts
Labels: content, frontend, testing

Comments
  src/forms/__tests__/utils.test.ts
Labels: content, frontend, testing

Tweak signin padding
  src/components/app/SignInWrapper/SignInWrapper.tsx
  src/components/forms/AddressField/AddressField.tsx
  src/hooks/usePasswordStrength.ts
Labels: frontend

chore: Improve chunking and dynamically load certain imports (#666)
  .changeset/giant-animals-thank.md
  src/components/app/SignInWrapper/SignInWrapper.tsx
  src/components/forms/AddressField/AddressField.tsx
  src/forms/__tests__/utils.test.ts
  src/forms/utils.ts
  src/hooks/usePasswordStrength.ts
  src/routes/_authenticated/forms/ma-court-order.tsx
  src/routes/_authenticated/forms/social-security.tsx
  vite.config.ts
Labels: content, frontend, testing

Update env again
  .changeset/thirty-monkeys-kneel.md
  .env.local.template
  .env.template
  convex/auth.ts
Labels: backend

fix: Redirect after sign-in (#668)
  .changeset/thirty-monkeys-kneel.md
  .env.local.template
  .env.template
  convex/auth.ts
Labels: backend

Update images and tint
  .env.local.template
  .env.template
  convex/auth.ts
  src/components/app/AppContent/AppContent.tsx
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/common/TintedImage/TintedImage.tsx
  src/components/quests/GettingStarted/GettingStarted.tsx
  src/components/quests/GettingStarted/images/01.png
  src/components/quests/GettingStarted/images/02.png
  src/components/quests/GettingStarted/images/03.png
  src/components/quests/GettingStarted/images/04.png
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
Labels: backend, frontend

Add Getting Started quest
  convex/_generated/api.d.ts
  convex/model/authModel.ts
  convex/schema.ts
  convex/userGettingStarted.ts
  convex/userQuests.ts
  src/components/app/AppContent/AppContent.test.tsx
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/common/Banner/Banner.tsx
  src/components/common/TintedImage/TintedImage.test.tsx
  src/components/common/TintedImage/TintedImage.tsx
  src/components/quests/GettingStarted/GettingStarted.tsx
  src/components/quests/HowToChangeNames/HowToChangeNames.tsx
  src/components/quests/HowToChangeNames/images/01.png
  src/components/quests/HowToChangeNames/images/02.png
  src/components/quests/HowToChangeNames/images/03.png
  src/components/quests/HowToChangeNames/images/04.png
  src/components/quests/QuestCallToAction/QuestCallToAction.test.tsx
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
  src/components/quests/QuestsSidebar/MyQuests.tsx
  src/components/quests/QuestsSidebar/QuestsSidebar.test.tsx
  src/components/quests/StatusSelect/StatusSelect.tsx
  src/components/quests/index.ts
  src/constants/quests.ts
  src/routes/_authenticated/_home/quests/$questSlug/index.tsx
  src/routes/_authenticated/_home/quests/getting-started.tsx
  src/routes/_authenticated/documents/$pdfId.tsx
Labels: backend, frontend, testing

Cleaner API
  convex/auth.ts
  convex/model/__tests__/authModel.test.ts
  convex/userGettingStarted.ts
  package.json
  pnpm-lock.yaml
  src/components/app/AppContent/AppContent.tsx
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
  src/routes/_authenticated/_home/quests/getting-started.tsx
Labels: backend, dependencies, frontend, testing

Cleanup
  convex/model/userQuestsModel.ts
  convex/userGettingStarted.ts
  convex/userQuests.ts
  src/components/common/TintedImage/TintedImage.test.tsx
  src/components/quests/HowToChangeNames/HowToChangeNames.tsx
  src/components/quests/QuestCallToAction/QuestCallToAction.test.tsx
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
  src/components/quests/QuestsSidebar/MyQuests.tsx
  src/routes/_authenticated/_home/quests/$questSlug/index.tsx
  src/routes/_authenticated/_home/quests/getting-started.tsx
  vite.config.ts
Labels: backend, frontend, testing

Cleanup
  src/constants/quests.ts
Labels: frontend

Changeset
  .changeset/late-lies-relate.md
Labels: none

Fix missing 'Add to my quests' CTA
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
Labels: frontend

Update tests
  src/components/quests/QuestCallToAction/QuestCallToAction.test.tsx
Labels: frontend, testing

Changeset
  .changeset/hot-guests-act.md
Labels: none

fix: Re-add missing placeholder call-to-action (#671)
  .changeset/hot-guests-act.md
  src/components/quests/QuestCallToAction/QuestCallToAction.test.tsx
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
Labels: frontend, testing

Layout fixes
  src/components/app/AppContent/AppContent.tsx
  src/components/app/AppDesktopWrapper/AppDesktopWrapper.tsx
  src/components/app/AppNav/AppNav.tsx
  src/components/app/PageHeader/PageHeader.tsx
  src/components/app/index.ts
  src/components/common/TintedImage/TintedImage.test.tsx
  src/components/common/TintedImage/TintedImage.tsx
  src/components/quests/HowToChangeNames/HowToChangeNames.tsx
  src/components/quests/HowToChangeNames/images/03.png
  src/components/quests/HowToChangeNames/images/04.png
  src/components/settings/EditThemeSetting/EditThemeSetting.tsx
  src/routes/_authenticated.tsx
  src/routes/_authenticated/_home.tsx
  src/routes/_authenticated/_home/quests/$questSlug/route.tsx
  src/routes/_authenticated/_home/quests/getting-started.tsx
  src/routes/_authenticated/admin/route.tsx
  src/routes/_authenticated/documents/route.tsx
  src/routes/_authenticated/settings/route.tsx
  src/styles/index.css
Labels: frontend, testing

Changeset
  .changeset/chatty-peaches-double.md
Labels: none

Remove comment and fix Safari
  src/components/common/TintedImage/TintedImage.tsx
Labels: frontend
