Repository namesakefyi/namesake, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, content, dependencies, documentation, email, frontend, testing, workflows

.github/labeler.yml:

backend:
- changed-files:
  - any-glob-to-any-file: convex/**

# Add 'bug' label to any PR where the head branch name
# starts with `fix` or has a `fix` section in the name
bug:
- head-branch: ['^fix', 'fix']

content:
- changed-files:
  - any-glob-to-any-file: ['src/forms/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: package.json

documentation:
- changed-files:
  - any-glob-to-any-file: ['docs/**', 'CONTRIBUTING.md', 'README.md', 'SECURITY.md']

email:
- changed-files:
  - any-glob-to-any-file: ['emails/**']

frontend:
- changed-files:
  - any-glob-to-any-file: ['src/**', 'index.html']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**', '**/*.test.ts', '**/*.test.tsx', 'playwright.config.ts']

workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**', '.github/labeler.yml', '.github/dependabot.yml', '.husky/**', 'biome.json']

Formatting
  convex.json
Labels: none

Format
  convex.json
Labels: none

Changeset
  .changeset/tough-clubs-camp.md
Labels: none

Remove residence and birthplace settings
  convex.json
  convex/__tests__/quests.test.ts
  convex/__tests__/users.test.ts
  convex/model/questsModel.ts
  convex/model/usersModel.ts
  convex/quests.ts
  convex/schema.ts
  convex/seed.ts
  convex/userQuestPlaceholders.ts
  convex/users.ts
  src/components/common/SearchField/SearchField.tsx
  src/components/quests/JurisdictionInterstitial/JurisdictionInterstitial.test.tsx
  src/components/quests/JurisdictionInterstitial/JurisdictionInterstitial.tsx
  src/components/quests/QuestsSidebar/AllQuests.tsx
  src/components/quests/QuestsSidebar/MyQuests.tsx
  src/components/quests/QuestsSidebar/QuestsSidebar.test.tsx
  src/components/quests/QuestsSidebar/QuestsSidebar.tsx
  src/components/quests/QuestsSidebar/QuestsSidebarProvider.tsx
  src/components/quests/index.ts
  src/components/settings/EditBirthplaceSetting/EditBirthplaceSetting.test.tsx
  src/components/settings/EditBirthplaceSetting/EditBirthplaceSetting.tsx
  src/components/settings/EditResidenceSetting/EditResidenceSetting.test.tsx
  src/components/settings/EditResidenceSetting/EditResidenceSetting.tsx
  src/components/settings/index.ts
  src/constants/quests.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_authenticated/_home/index.tsx
  src/routes/_authenticated/_home/quests/birth-certificate.index.tsx
  src/routes/_authenticated/_home/quests/court-order.index.tsx
  src/routes/_authenticated/_home/quests/index.tsx
  src/routes/_authenticated/_home/quests/state-id.index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/routes/_authenticated/settings/account.tsx
Labels: backend, frontend, testing

Fix convex.json formatting
  biome.json
  convex.json
Labels: workflows

fix: Prevent Convex and Biome from fighting over `convex.json` (#643)
  biome.json
  convex.json
Labels: workflows

Improve seed script
  convex/seed.ts
Labels: backend

chore: Improve seed script (#644)
  convex/seed.ts
Labels: backend

Tests
  convex/model/__tests__/authModel.test.ts
  src/components/quests/QuestsSidebar/MyQuests.tsx
  src/components/quests/QuestsSidebar/QuestsSidebar.test.tsx
  src/components/quests/QuestsSidebar/QuestsSidebarProvider.tsx
Labels: backend, frontend, testing

Code cleanup
  convex/model/userQuestsModel.ts
  convex/userQuests.ts
  src/components/common/Nav/Nav.tsx
  src/components/quests/QuestsSidebar/AllQuests.tsx
  src/components/quests/QuestsSidebar/MyQuests.tsx
  src/constants/quests.ts
Labels: backend, frontend

Code cleanup
  convex/model/userQuestPlaceholdersModel.ts
  convex/model/userQuestsModel.ts
  src/components/quests/QuestsSidebar/MyQuests.tsx
Labels: backend, frontend

Formatting
  convex/model/authModel.ts
  convex/model/questsModel.ts
Labels: backend

Lower coverage threshold
  vite.config.ts
Labels: none

Tests
  convex/model/__tests__/userQuestPlaceholders.test.ts
  src/components/quests/QuestsSidebar/QuestsSidebar.test.tsx
Labels: backend, frontend, testing

Redirect on quest add, improve empty state
  convex/model/userQuestPlaceholdersModel.ts
  src/components/quests/QuestsSidebar/AllQuests.tsx
  src/components/quests/QuestsSidebar/MyQuests.tsx
Labels: backend, frontend

Improve tests
  convex/model/__tests__/userQuestPlaceholders.test.ts
  convex/model/userQuestsModel.ts
Labels: backend, testing

Coverage
  convex/__tests__/userQuestPlaceholders.test.ts
  convex/model/__tests__/authModel.test.ts
  convex/model/__tests__/userQuestPlaceholders.test.ts
  convex/model/authModel.ts
Labels: backend, testing

Move function to hook
  src/hooks/__tests__/useHasVisited.test.ts
  src/hooks/useHasVisited.ts
  src/routes/_unauthenticated/__tests__/signin.test.tsx
  src/routes/_unauthenticated/signin.tsx
Labels: frontend, testing

feat: Show signup screen for first time users (#554)
  .changeset/twenty-spies-pay.md
  src/hooks/__tests__/useHasVisited.test.ts
  src/hooks/useHasVisited.ts
  src/routeTree.gen.ts
  src/routes/_unauthenticated/signin.tsx
Labels: frontend, testing

Remove unneeded package overrides
  convex.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: Remove unneeded package overrides (#645)
  convex.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

Fix scroll and add description
  src/components/settings/EditThemeSetting/EditThemeSetting.tsx
Labels: frontend

Changeset
  .changeset/twenty-ideas-stay.md
Labels: none

Getting started
  package.json
  pnpm-lock.yaml
  src/components/common/index.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/_home/index.tsx
  src/routes/_authenticated/_home/quests/index.tsx
  vite.config.ts
Labels: dependencies, frontend

Getting started
  package.json
  pnpm-lock.yaml
  src/components/app/AppContent/AppContent.tsx
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/app/PageHeader/PageHeader.tsx
  src/components/common/TintedImage/TintedImage.tsx
  src/components/quests/GettingStarted/GettingStarted.tsx
  src/components/quests/GettingStarted/images/01.png
  src/components/quests/GettingStarted/images/02.png
  src/components/quests/GettingStarted/images/03.png
  src/components/quests/GettingStarted/images/04.png
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
  src/components/quests/QuestPageBadges/QuestPageBadges.tsx
  src/components/quests/QuestPageToolbar/QuestPageToolbar.tsx
  src/components/quests/index.ts
  src/components/settings/FormResponsesList/FormResponsesList.tsx
  src/routes/_authenticated/_home/quests/$questSlug/edit.tsx
  src/routes/_authenticated/_home/quests/$questSlug/index.tsx
  src/routes/_authenticated/_home/quests/getting-started.tsx
  src/routes/_authenticated/admin/early-access.index.tsx
  src/routes/_authenticated/admin/index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/routes/_authenticated/documents/index.tsx
  src/routes/_authenticated/settings/account.tsx
  src/routes/_authenticated/settings/index.tsx
  src/styles/index.css
Labels: dependencies, frontend

Remove early access codes and badge
  convex/__tests__/earlyAccessCodes.test.ts
  convex/_generated/api.d.ts
  convex/earlyAccessCodes.ts
  convex/model/earlyAccessCodesModel.ts
  convex/schema.ts
  src/components/admin/AdminNav/AdminNav.test.tsx
  src/components/admin/AdminNav/AdminNav.tsx
  src/components/app/NamesakeHeader/NamesakeHeader.tsx
  src/components/app/RegistrationForm/RegistrationForm.test.tsx
  src/components/app/RegistrationForm/RegistrationForm.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated/admin/early-access.index.tsx
Labels: backend, frontend, testing

Changeset
  .changeset/red-grapes-own.md
Labels: none

fix: Theme selection scroll and description link (#646)
  .changeset/twenty-ideas-stay.md
  src/components/settings/EditThemeSetting/EditThemeSetting.tsx
Labels: frontend

chore: Remove early access codes (#647)
  .changeset/red-grapes-own.md
  convex/__tests__/earlyAccessCodes.test.ts
  convex/_generated/api.d.ts
  convex/earlyAccessCodes.ts
  convex/model/earlyAccessCodesModel.ts
  convex/schema.ts
  src/components/admin/AdminNav/AdminNav.test.tsx
  src/components/admin/AdminNav/AdminNav.tsx
  src/components/app/NamesakeHeader/NamesakeHeader.tsx
  src/components/app/RegistrationForm/RegistrationForm.test.tsx
  src/components/app/RegistrationForm/RegistrationForm.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated/admin/early-access.index.tsx
Labels: backend, frontend, testing

Remove tabs gap
  src/components/common/Tabs/Tabs.tsx
Labels: frontend

Changeset
  .changeset/fair-ideas-pay.md
Labels: none

fix: Fix indicator sizing (#649)
  .changeset/fair-ideas-pay.md
  src/components/common/Tabs/Tabs.tsx
Labels: frontend

Update Better Auth
  .changeset/polite-berries-obey.md
  convex/_generated/api.d.ts
  convex/auth.ts
  convex/http.ts
  package.json
  pnpm-lock.yaml
Labels: backend, dependencies

fix: Better Auth CORS settings (#650)
  .changeset/polite-berries-obey.md
  convex/_generated/api.d.ts
  convex/auth.ts
  convex/http.ts
  package.json
  pnpm-lock.yaml
Labels: backend, dependencies

Add .env templates, update auth config for prod
  .env.local.template
  .env.template
  convex/auth.ts
Labels: backend

Changeset
  .changeset/early-trees-march.md
Labels: none

EOL
  .env.local.template
  .env.template
Labels: none

fix: Prod sign-in base url (#652)
  .changeset/early-trees-march.md
  .env.local.template
  .env.template
  convex/auth.ts
Labels: backend

Remove npm-run-all, install dev dependency for @emotion/is-prop-valid
  package.json
  pnpm-lock.yaml
  src/main.tsx
Labels: dependencies, frontend

Single column mobile address
  src/components/forms/AddressField/AddressField.tsx
Labels: frontend
