Repository namesakefyi/namesake, pull requests merged in 2024-12, with the labels that each got.

#265 feat: Integrate SurveyJS
  .changeset/nine-hotels-rest.md
  convex/_generated/api.d.ts
  convex/constants.ts
  convex/documents.ts
  convex/questFields.ts
  convex/quests.test.ts
  convex/quests.ts
  convex/schema.ts
  convex/userEncryptedData.ts
  convex/userFormData.ts
  convex/validators.ts
  docs/CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  src/components/common/Button/Button.tsx
  src/components/common/Modal/Modal.tsx
  src/components/quests/DocumentCard/DocumentCard.tsx
  src/components/quests/QuestForm/QuestForm.tsx
  src/components/quests/QuestForm/index.ts
  src/components/quests/QuestForms/QuestForms.tsx
  src/components/quests/index.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated.tsx
  src/routes/_authenticated/_home/quests.$questId.edit.tsx
  src/routes/_authenticated/_home/quests.$questId.index.tsx
  src/routes/_authenticated/_home_.quests.$questId.form.tsx
  src/routes/_authenticated/admin/documents.$documentId.tsx
  src/routes/_authenticated/admin/documents.index.tsx
  src/routes/_authenticated/admin/fields/index.tsx
  src/routes/_authenticated/admin/quests.$questId.index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/routes/_authenticated/admin/route.tsx
  src/routes/_authenticated/admin_/quests.$questId.form.tsx
  src/styles/index.css
Labels: documentation, dependencies, frontend, backend

#269 chore: Remove unnecessary fields from survey creator
  src/routes/_authenticated/admin_/quests.$questId.form.tsx
  src/utils/surveyCreatorConfig.ts
Labels: frontend

#270 chore: Autolabel pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: workflows

#268 feat: Adjust user role assignment based on environment
  .changeset/funny-roses-wink.md
  convex/auth.test.ts
  convex/auth.ts
Labels: backend

#274 test: Write backend tests for `auth`, `userQuests`, `userSettings`, and `users`
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/relative-ci.yml
  convex/auth.test.ts
  convex/userQuests.test.ts
  convex/userQuests.ts
  convex/userSettings.test.ts
  convex/userSettings.ts
  convex/users.test.ts
Labels: backend, testing, workflows

#278 content: Add Terms and Privacy links
  .changeset/gorgeous-colts-reply.md
  src/routes/_authenticated/settings/route.tsx
  src/routes/_unauthenticated/signin.tsx
Labels: frontend, content

#280 chore(deps): Upgrade Convex Auth
  .changeset/tough-cougars-return.md
  package.json
  pnpm-lock.yaml
Labels: dependencies

#285 fix: Provide accessible titles to all dialogs
  .changeset/silent-cougars-beg.md
  package.json
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/common/ComboBox/ComboBox.tsx
  src/components/common/DatePicker/DatePicker.tsx
  src/components/common/DateRangePicker/DateRangePicker.tsx
  src/components/common/Menu/Menu.stories.tsx
  src/components/common/Menu/Menu.test.tsx
  src/components/common/Menu/Menu.tsx
  src/components/common/Popover/Popover.stories.tsx
  src/components/common/Popover/Popover.test.tsx
  src/components/common/Popover/Popover.tsx
  src/components/common/Select/Select.tsx
  src/components/quests/StatGroup/StatGroup.tsx
Labels: dependencies, frontend, testing

#288 test: Run tests when packages change
  .changeset/smart-flowers-retire.md
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: workflows

#289 chore(deps): Replace `framer-motion` with `motion`
  package.json
  pnpm-lock.yaml
  src/components/common/AnimateChangeInHeight/AnimateChangeInHeight.tsx
  src/main.tsx
Labels: dependencies, frontend

#292 docs: Update contributors section of readme
  docs/README.md
Labels: documentation

#290 test: Write unit tests for settings page and components
  src/components/common/Banner/Banner.tsx
  src/components/settings/DeleteAccountSetting/DeleteAccountSetting.test.tsx
  src/components/settings/EditBirthplaceSetting/EditBirthplaceSetting.test.tsx
  src/components/settings/EditMinorSetting/EditMinorSetting.test.tsx
  src/components/settings/EditNameSetting/EditNameSetting.test.tsx
  src/components/settings/EditNameSetting/EditNameSetting.tsx
  src/components/settings/EditResidenceSetting/EditResidenceSetting.test.tsx
  src/components/settings/EditThemeSetting/EditThemeSetting.test.tsx
  tests/vitest.setup.ts
Labels: frontend, testing

#301 feat: `PasswordStrength` component
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  src/components/app/PasswordStrength/PasswordStrength.stories.tsx
  src/components/app/PasswordStrength/PasswordStrength.test.tsx
  src/components/app/PasswordStrength/PasswordStrength.tsx
  src/components/app/PasswordStrength/index.ts
  src/components/app/index.ts
  src/components/common/Banner/Banner.tsx
  src/components/common/Meter/Meter.stories.tsx
  src/components/common/Meter/Meter.tsx
  src/components/common/Meter/index.ts
  src/components/common/index.ts
Labels: dependencies, frontend, testing

#282 feat: Allow modifying user email from settings
  .changeset/eight-yaks-itch.md
  convex/_generated/api.d.ts
  convex/errors.ts
  convex/users.test.ts
  convex/users.ts
  package.json
  pnpm-lock.yaml
  src/components/settings/EditEmailSetting/EditEmailSetting.tsx
  src/components/settings/EditEmailSetting/EditEmailSettings.test.tsx
  src/components/settings/EditEmailSetting/index.ts
  src/components/settings/EditNameSetting/EditNameSetting.tsx
  src/components/settings/index.ts
  src/routes/_authenticated/settings/account.tsx
Labels: dependencies, frontend, backend, testing

#305 feat: `PasswordStrength` polish
  .changeset/kind-peas-double.md
  package.json
  pnpm-lock.yaml
  src/components/app/PasswordStrength/PasswordStrength.test.tsx
  src/components/app/PasswordStrength/PasswordStrength.tsx
Labels: dependencies, frontend, testing

#307 fix: `PasswordStrength` polish followup
  src/components/app/PasswordStrength/PasswordStrength.tsx
Labels: frontend

#299 fix: Show error when signing in with unregistered email
  .changeset/polite-monkeys-travel.md
  src/routes/_unauthenticated/signin.tsx
Labels: frontend

#310 feat: New `form` components
  convex/_generated/api.d.ts
  package.json
  pnpm-lock.yaml
  src/components/common/Button/Button.tsx
  src/components/common/Field/Field.tsx
  src/components/common/Link/Link.tsx
  src/components/common/Select/Select.tsx
  src/components/common/TextField/TextField.tsx
  src/components/forms/AddressField/AddressField.stories.tsx
  src/components/forms/AddressField/AddressField.tsx
  src/components/forms/AddressField/index.ts
  src/components/forms/EmailField/EmailField.stories.tsx
  src/components/forms/EmailField/EmailField.test.tsx
  src/components/forms/EmailField/EmailField.tsx
  src/components/forms/EmailField/index.ts
  src/components/forms/FormQuestion/FormQuestion.stories.tsx
  src/components/forms/FormQuestion/FormQuestion.test.tsx
  src/components/forms/FormQuestion/FormQuestion.tsx
  src/components/forms/FormQuestion/index.ts
  src/components/forms/NameField/NameField.stories.tsx
  src/components/forms/NameField/NameField.test.tsx
  src/components/forms/NameField/NameField.tsx
  src/components/forms/NameField/index.ts
  src/components/forms/PhoneField/PhoneField.stories.tsx
  src/components/forms/PhoneField/PhoneField.test.tsx
  src/components/forms/PhoneField/PhoneField.tsx
  src/components/forms/PhoneField/index.ts
  src/components/forms/ShortTextField/ShortTextField.stories.tsx
  src/components/forms/ShortTextField/ShortTextField.test.tsx
  src/components/forms/ShortTextField/ShortTextField.tsx
  src/components/forms/ShortTextField/index.ts
  src/components/forms/index.ts
  src/components/quests/QuestForm/QuestForm.tsx
  src/routes/_authenticated/_home/quests.$questId.edit.tsx
  src/routes/_authenticated/_home/quests.$questId.index.tsx
  src/styles/index.css
  tailwind.config.ts
Labels: dependencies, frontend, backend, testing

#311 fix: Sanitize branch names during GitHub Actions artifact upload
  .github/workflows/coverage.yml
  src/components/common/Select/Select.tsx
Labels: bug, frontend, workflows

#312 feat: More form field components
  src/components/common/Button/Button.tsx
  src/components/common/Checkbox/Checkbox.tsx
  src/components/common/DateField/DateField.tsx
  src/components/common/Field/Field.tsx
  src/components/common/RadioGroup/RadioGroup.tsx
  src/components/common/Select/Select.tsx
  src/components/common/TextArea/TextArea.tsx
  src/components/common/TimeField/TimeField.tsx
  src/components/forms/AddressField/AddressField.stories.tsx
  src/components/forms/AddressField/AddressField.test.tsx
  src/components/forms/AddressField/AddressField.tsx
  src/components/forms/CheckboxGroupField/CheckboxGroupField.stories.tsx
  src/components/forms/CheckboxGroupField/CheckboxGroupField.test.tsx
  src/components/forms/CheckboxGroupField/CheckboxGroupField.tsx
  src/components/forms/CheckboxGroupField/index.ts
  src/components/forms/EmailField/EmailField.stories.tsx
  src/components/forms/EmailField/EmailField.tsx
  src/components/forms/FormQuestion/FormQuestion.stories.tsx
  src/components/forms/FormQuestion/FormQuestion.tsx
  src/components/forms/LongTextField/LongTextField.stories.tsx
  src/components/forms/LongTextField/LongTextField.test.tsx
  src/components/forms/LongTextField/LongTextField.tsx
  src/components/forms/LongTextField/index.ts
  src/components/forms/MemorableDateField/MemorableDateField.stories.tsx
  src/components/forms/MemorableDateField/MemorableDateField.test.tsx
  src/components/forms/MemorableDateField/MemorableDateField.tsx
  src/components/forms/MemorableDateField/index.ts
  src/components/forms/NameField/NameField.stories.tsx
  src/components/forms/NameField/NameField.tsx
  src/components/forms/PhoneField/PhoneField.stories.tsx
  src/components/forms/PhoneField/PhoneField.tsx
  src/components/forms/RadioGroupField/RadioGroupField.stories.tsx
  src/components/forms/RadioGroupField/RadioGroupField.test.tsx
  src/components/forms/RadioGroupField/RadioGroupField.tsx
  src/components/forms/RadioGroupField/index.ts
  src/components/forms/ShortTextField/ShortTextField.stories.tsx
  src/components/forms/ShortTextField/ShortTextField.tsx
  src/components/forms/index.ts
Labels: frontend, testing

#313 feat: Add tables and Convex queries for forms, remove SurveyJS
  .changeset/warm-seas-retire.md
  convex/_generated/api.d.ts
  convex/constants.ts
  convex/documents.ts
  convex/formPages.test.ts
  convex/formPages.ts
  convex/forms.test.ts
  convex/forms.ts
  convex/quests.ts
  convex/schema.ts
  convex/userQuests.test.ts
  convex/userQuests.ts
  convex/validators.ts
  package.json
  pnpm-lock.yaml
  src/components/common/Button/Button.tsx
  src/components/forms/FormPage/FormPage.stories.tsx
  src/components/forms/FormPage/FormPage.test.tsx
  src/components/forms/FormPage/FormPage.tsx
  src/components/forms/FormPage/index.ts
  src/components/forms/FormQuestion/FormQuestion.stories.tsx
  src/components/forms/FormQuestion/FormQuestion.tsx
  src/components/forms/FormQuestion/index.ts
  src/components/forms/index.ts
  src/components/quests/QuestForm/QuestForm.tsx
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated/_home/quests.$questId.form.tsx
  src/routes/_authenticated/_home_.quests.$questId.form.tsx
  src/routes/_authenticated/admin/documents.index.tsx
  src/routes/_authenticated/admin/quests.$questId.form.tsx
  src/routes/_authenticated/admin/quests.$questId.index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/routes/_authenticated/admin_/quests.$questId.form.tsx
  src/utils/surveyCreatorConfig.ts
Labels: dependencies, frontend, backend, testing

#314 chore: Rename `questions` table to `faqs`
  convex/_generated/api.d.ts
  convex/faqTopics.test.ts
  convex/faqTopics.ts
  convex/faqs.test.ts
  convex/faqs.ts
  convex/formPages.ts
  convex/questions.test.ts
  convex/schema.ts
Labels: backend, testing

#315 feat: Consolidate quest editing UI, add `formFields` table
  .changeset/selfish-waves-taste.md
  convex/_generated/api.d.ts
  convex/constants.ts
  convex/documents.ts
  convex/formFields.test.ts
  convex/formFields.ts
  convex/formPages.test.ts
  convex/formPages.ts
  convex/schema.ts
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/common/Field/Field.tsx
  src/components/common/Form/Form.tsx
  src/components/common/NumberField/NumberField.tsx
  src/components/forms/EditableFormField/EditableFormField.tsx
  src/components/forms/EditableFormField/index.ts
  src/components/forms/EditableFormPage/EditableFormPage.tsx
  src/components/forms/EditableFormPage/index.ts
  src/components/forms/index.ts
  src/components/quests/EditQuestBasicsModal/EditQuestBasicsModal.test.tsx
  src/components/quests/EditQuestBasicsModal/EditQuestBasicsModal.tsx
  src/components/quests/EditQuestBasicsModal/index.ts
  src/components/quests/EditQuestCostsModal/EditQuestCostsModal.test.tsx
  src/components/quests/EditQuestCostsModal/EditQuestCostsModal.tsx
  src/components/quests/EditQuestDocumentModal/EditQuestDocumentModal.tsx
  src/components/quests/EditQuestDocumentModal/index.ts
  src/components/quests/QuestContent/QuestContent.tsx
  src/components/quests/QuestContent/index.ts
  src/components/quests/QuestCosts/QuestCosts.tsx
  src/components/quests/QuestDetails/QuestDetails.tsx
  src/components/quests/QuestDetails/index.ts
  src/components/quests/QuestDocuments/QuestDocuments.tsx
  src/components/quests/QuestDocuments/index.ts
  src/components/quests/QuestForm/QuestForm.tsx
  src/components/quests/QuestForms/QuestForms.tsx
  src/components/quests/QuestForms/index.ts
  src/components/quests/QuestTimeRequired/QuestTimeRequired.tsx
  src/components/quests/QuestUsageCount/QuestUsageCount.tsx
  src/components/quests/QuestUsageCount/index.ts
  src/components/quests/StatGroup/StatGroup.tsx
  src/components/quests/index.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/_home.tsx
  src/routes/_authenticated/_home/quests.$questId.edit.form.tsx
  src/routes/_authenticated/_home/quests.$questId.edit.index.tsx
  src/routes/_authenticated/_home/quests.$questId.index.tsx
  src/routes/_authenticated/admin/documents.$documentId.tsx
  src/routes/_authenticated/admin/documents.index.tsx
  src/routes/_authenticated/admin/index.tsx
  src/routes/_authenticated/admin/quests.$questId.form.tsx
  src/routes/_authenticated/admin/quests.$questId.index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/routes/_authenticated/admin/route.tsx
Labels: frontend, backend, testing

#317 feat: Redesign `/browse`
  .changeset/olive-wasps-smile.md
  convex/quests.ts
  convex/userQuests.ts
  convex/users.ts
  src/components/browse/AddOrGoToQuestButton/AddOrGoToQuestButton.tsx
  src/components/browse/AddOrGoToQuestButton/index.ts
  src/components/browse/index.ts
  src/components/common/Nav/Nav.tsx
  src/components/quests/QuestPageHeader/QuestPageHeader.tsx
  src/components/quests/QuestPageHeader/index.ts
  src/components/quests/index.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/_home/quests.$questId.edit.form.tsx
  src/routes/_authenticated/_home/quests.$questId.edit.index.tsx
  src/routes/_authenticated/_home/quests.$questId.index.tsx
  src/routes/_authenticated/browse.$questId.tsx
  src/routes/_authenticated/browse.index.tsx
  src/routes/_authenticated/browse.route.tsx
  src/routes/_authenticated/browse/index.tsx
Labels: frontend, backend
