Repository namesakefyi/namesake, pull requests merged in 2025-05, with the labels that each got.

#535 feat: Display optional costs in cost breakdown
  .changeset/funny-views-rest.md
  .changeset/tasty-ties-move.md
  convex/migrations.ts
  convex/model/questsModel.ts
  convex/quests.ts
  convex/schema.ts
  src/components/quests/QuestCostsBadge/QuestCostsBadge.test.tsx
  src/components/quests/QuestCostsBadge/QuestCostsBadge.tsx
  src/components/quests/QuestTimeBadge/QuestTimeBadge.tsx
  src/constants/quests.ts
Labels: frontend, backend, testing

#540 feat: Support inline FAQs within quest contents
  .changeset/warm-deer-begin.md
  package.json
  pnpm-lock.yaml
  src/components/common/Editor/Editor.stories.tsx
  src/components/common/Editor/Editor.test.tsx
  src/components/common/Editor/EditorToolbar.test.tsx
  src/components/common/Editor/EditorToolbar.tsx
  src/components/common/Editor/extensions/constants.ts
  src/styles/editor.css
Labels: dependencies, frontend, testing

#542 fix: Disclosures and steps alignment
  .changeset/metal-cases-warn.md
  package.json
  pnpm-lock.yaml
  src/components/common/Editor/extensions/constants.ts
  src/styles/editor.css
Labels: dependencies, frontend

#544 Tweak disclosure styles
  src/styles/editor.css
Labels: frontend

#550 chore: Remove `pretty-bytes` package
  package.json
  pnpm-lock.yaml
Labels: dependencies

#551 chore: Update workflow permissions
  .github/workflows/ci.yml
  .github/workflows/congratsbot.yml
Labels: workflows

#567 fix: Button / router links using `href` instead of `ToOptions`
  .changeset/angry-shrimps-ask.md
  convex/_generated/api.d.ts
  src/routes/__root.tsx
Labels: bug, frontend, backend

#566 content: Add Social Security guided form
  .changeset/rotten-seals-crash.md
  src/components/forms/CheckboxGroupField/CheckboxGroupField.tsx
  src/components/forms/NameField/NameField.tsx
  src/components/forms/RadioGroupField/RadioGroupField.tsx
  src/constants/countries.ts
  src/constants/fields.ts
  src/constants/forms.ts
  src/constants/index.ts
  src/forms/federal/__tests__/ss5-application-for-social-security-card.test.ts
  src/forms/federal/ss5-application-for-social-security-card.pdf
  src/forms/federal/ss5-application-for-social-security-card.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/forms/social-security.tsx
  src/utils/__tests__/pdf-helpers.test.ts
  src/utils/pdf-helpers.ts
Labels: frontend, testing

#569 fix: Prevent `RouterProvider` from appending link to self
  .changeset/eighty-icons-drive.md
  src/routes/__root.tsx
Labels: bug, frontend

#590 fix: Prevent "Continue" button from scrolling off screen
  .changeset/wicked-tools-hope.md
  src/components/quests/JurisdictionInterstitial/JurisdictionInterstitial.tsx
Labels: frontend

#591 fix: Prevent doc preview from overflowing
  .changeset/red-times-shake.md
  src/routes/_authenticated/documents/$pdfId.tsx
Labels: bug, frontend

#592 fix: Remove stray "null" from password error banner
  .changeset/hungry-cats-bet.md
  src/routes/_unauthenticated/signin.tsx
Labels: bug, frontend

#573 fix: Update link logic to remove `useHref` and pre-populate internal links
  .changeset/fluffy-teams-dress.md
  src/components/common/Editor/extensions/ButtonComponent.test.tsx
  src/components/common/Editor/extensions/ButtonComponent.tsx
  src/routes/__root.tsx
Labels: bug, frontend, testing

#607 fix: Only deploy Storybook on pushes to main
  .github/workflows/storybook.yml
Labels: workflows

#605 fix: Improve toast placement
  .changeset/fair-lights-punch.md
  src/routes/__root.tsx
Labels: bug, frontend
