Repository namesakefyi/namesake, pull requests merged in 2025-03, with the labels that each got.

#422 chore: Do not run RelativeCI workflow on pull requests
  .github/workflows/relative-ci.yml
Labels: workflows

#403 feat: Create `HiddenText` component
  .changeset/stale-buttons-trade.md
  src/components/common/HiddenText/HiddenText.stories.tsx
  src/components/common/HiddenText/HiddenText.test.tsx
  src/components/common/HiddenText/HiddenText.tsx
Labels: frontend, testing

#424 feat: Quests Completed Date
  .changeset/famous-weeks-sin.md
  convex/schema.ts
  convex/userQuests.test.ts
  convex/userQuests.ts
  src/components/common/IconText/IconText.stories.tsx
  src/components/common/IconText/IconText.tsx
  src/components/common/index.ts
  src/components/quests/QuestPageFooter/QuestPageFooter.tsx
  src/components/quests/QuestUpdated/QuestUpdated.tsx
  src/components/quests/index.ts
  src/routes/_authenticated/_home/$questSlug.index.tsx
Labels: frontend, backend, testing

#426 chore: Add script to delete all dev data
  package.json
  scripts/deleteConvexTables.sh
Labels: dependencies

#434 fix: Put Social Security before State ID
  .changeset/sixty-ads-shave.md
  convex/constants.ts
  src/routes/_authenticated/_home.tsx
Labels: frontend, backend

#433 fix: Fix theme switcher submenu
  .changeset/poor-zoos-dance.md
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/common/Menu/Menu.stories.tsx
Labels: bug, frontend

#432 feat: Update design of data settings page, rename to "Form Responses"
  .changeset/nine-ducks-show.md
  convex/_generated/api.d.ts
  convex/constants.ts
  convex/schema.ts
  convex/userFormResponses.ts
  src/components/common/Button/Button.tsx
  src/components/common/Empty/Empty.tsx
  src/components/common/ListBox/ListBox.tsx
  src/components/forms/PronounSelectField/PronounSelectField.tsx
  src/components/quests/JurisdictionInterstitial/JurisdictionInterstitial.tsx
  src/components/settings/DeleteFormResponseModal/DeleteFormResponseModal.test.tsx
  src/components/settings/DeleteFormResponseModal/DeleteFormResponseModal.tsx
  src/components/settings/FormResponsesList/FormResponsesList.test.tsx
  src/components/settings/FormResponsesList/FormResponsesList.tsx
  src/components/settings/UserDataForm/UserDataForm.tsx
  src/components/settings/UserDataForms/UserDataForms.tsx
  src/components/settings/index.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/settings/data.tsx
  src/routes/_authenticated/settings/responses.tsx
  src/routes/_authenticated/settings/route.tsx
  src/utils/encryption.ts
  tests/vitest.setup.ts
Labels: frontend, backend, testing

#401 style: Add animation to `Tabs` indicator
  .changeset/sour-pears-float.md
  src/components/common/Tabs/Tabs.module.css
  src/components/common/Tabs/Tabs.stories.tsx
  src/components/common/Tabs/Tabs.tsx
  src/utils/encryption.ts
Labels: frontend

#440 feat: Use `Select` for Form Response values
  .changeset/five-bushes-fly.md
  convex/constants.ts
  src/components/settings/FormResponsesList/FormResponsesList.test.tsx
  src/components/settings/FormResponsesList/FormResponsesList.tsx
  src/routes/_authenticated/settings/responses.tsx
Labels: frontend, backend, testing

#443 fix: Unknown `isReadOnly` prop and other React console errors
  .changeset/green-ends-invent.md
  src/components/common/DateField/DateField.tsx
  src/components/common/DatePicker/DatePicker.tsx
  src/components/common/DateRangePicker/DateRangePicker.tsx
  src/components/common/NumberField/NumberField.tsx
  src/components/common/SearchField/SearchField.tsx
  src/components/common/TextArea/TextArea.tsx
  src/components/common/TextField/TextField.tsx
  src/components/common/TimeField/TimeField.tsx
Labels: frontend

#444 feat: Save and encrypt form submissions
  .changeset/huge-windows-return.md
  src/components/forms/AddressField/AddressField.tsx
  src/components/forms/CheckboxField/CheckboxField.tsx
  src/components/forms/CheckboxGroupField/CheckboxGroupField.tsx
  src/components/forms/EmailField/EmailField.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormSection/FormSection.tsx
  src/components/forms/LanguageSelectField/LanguageSelectField.tsx
  src/components/forms/LongTextField/LongTextField.tsx
  src/components/forms/MemorableDateField/MemorableDateField.tsx
  src/components/forms/PhoneField/PhoneField.tsx
  src/components/forms/PronounSelectField/PronounSelectField.tsx
  src/components/forms/RadioGroupField/RadioGroupField.tsx
  src/components/forms/ShortTextField/ShortTextField.tsx
  src/components/forms/YesNoField/YesNoField.tsx
  src/components/settings/DeleteFormResponseModal/DeleteFormResponseModal.tsx
  src/components/settings/FormResponsesList/FormResponsesList.tsx
  src/routes/_authenticated/forms/ma-court-order.tsx
  src/styles/index.css
  src/utils/capitalize.test.ts
  src/utils/capitalize.ts
  src/utils/useFormEncryptAndSubmit.test.tsx
  src/utils/useFormEncryptAndSubmit.ts
  tests/vitest.setup.ts
Labels: frontend, testing

#442 chore: Do not call Convex functions directly
  CONTRIBUTING.md
  convex/_generated/api.d.ts
  convex/auth.ts
  convex/documents.ts
  convex/earlyAccessCodes.ts
  convex/helpers.ts
  convex/model/authModel.test.ts
  convex/model/authModel.ts
  convex/model/earlyAccessCodesModel.ts
  convex/model/questFaqsModel.ts
  convex/model/questsModel.test.ts
  convex/model/questsModel.ts
  convex/model/userFormResponsesModel.ts
  convex/model/userQuestsModel.ts
  convex/model/userSettingsModel.ts
  convex/model/usersModel.ts
  convex/questFaqs.ts
  convex/quests.ts
  convex/userFormResponses.ts
  convex/userQuests.ts
  convex/userSettings.ts
  convex/users.ts
  package.json
  pnpm-lock.yaml
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormSection/FormSection.tsx
  src/components/forms/YesNoField/YesNoField.tsx
  src/components/quests/DocumentCard/DocumentCard.tsx
  src/components/quests/EditQuestDocumentModal/EditQuestDocumentModal.tsx
  src/components/quests/QuestDocuments/QuestDocuments.tsx
  src/components/quests/index.ts
  src/components/settings/UserDataForm/UserDataForm.tsx
  src/components/settings/UserDataForms/UserDataForms.tsx
  src/convex/constants.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/_home/$questSlug.index.tsx
  src/routes/_authenticated/admin/documents.$documentId.tsx
  src/routes/_authenticated/admin/documents.index.tsx
  src/routes/_authenticated/admin/route.tsx
  src/utils/smartquotes.test.ts
  src/utils/smartquotes.ts
Labels: dependencies, frontend, backend, testing

#456 style: Fix `SkeletonCircle` rounded pseudo style
  src/components/common/Skeleton/Skeleton.stories.tsx
  src/components/common/Skeleton/Skeleton.tsx
Labels: frontend

#455 style: Remove focus ring if `FieldGroup` `:has([data-focus-visible])`
  .changeset/spotty-taxes-serve.md
  src/components/common/Field/Field.tsx
  src/components/utils.ts
  src/styles/index.css
Labels: frontend
