Repository namesakefyi/namesake, pull requests merged in 2025-02, with the labels that each got.

#365 docs: Add Git LFS installation note
  docs/CONTRIBUTING.md
Labels: documentation

#368 fix: Remove early access code requirement in dev
  src/routes/_unauthenticated/signin.tsx
Labels: frontend

#374 fix: Image illustrations display and sizing
  .changeset/lucky-houses-smash.md
  public/images/flower.png
  public/images/gavel.png
  public/images/id.png
  public/images/passport.png
  public/images/social-security.png
  src/components/quests/QuestPageHeader/QuestPageHeader.tsx
  src/components/quests/QuestPageHeader/flower.png
  src/components/quests/QuestPageHeader/gavel.png
  src/components/quests/QuestPageHeader/id.png
  src/components/quests/QuestPageHeader/passport.png
  src/components/quests/QuestPageHeader/social-security.png
Labels: bug, frontend

#376 chore: Remove Git LFS
  .gitattributes
  docs/CONTRIBUTING.md
  public/apple-touch-icon.png
  public/favicon-192.png
  public/favicon-512.png
  src/components/quests/QuestPageHeader/flower.png
  src/components/quests/QuestPageHeader/gavel.png
  src/components/quests/QuestPageHeader/id.png
  src/components/quests/QuestPageHeader/passport.png
  src/components/quests/QuestPageHeader/social-security.png
Labels: documentation, frontend

#379 docs: remove unused dep in CONTRIBUTING.md
  .gitignore
  docs/CONTRIBUTING.md
Labels: documentation

#380 feat: Encrypt user form data on client side
  .changeset/nice-laws-cough.md
  convex/userFormData.ts
  src/components/settings/UserDataForm/UserDataForm.tsx
  src/components/settings/UserDataForms/UserDataForms.tsx
  src/components/settings/index.ts
  src/routes/_authenticated/settings/data.tsx
  src/utils/encryption.test.ts
  src/utils/encryption.ts
Labels: frontend, backend, testing

#387 fix: Wrap text correctly in `Disclosure` element
  .changeset/twenty-parents-know.md
  src/components/common/Disclosure/Disclosure.tsx
Labels: bug, frontend

#308 feat: integrate `zxcvbn-ts` for password strength evaluation
  .changeset/sixty-spoons-beam.md
  package.json
  pnpm-lock.yaml
  src/components/app/PasswordStrength/PasswordStrength.test.tsx
  src/components/app/PasswordStrength/PasswordStrength.tsx
  src/routes/_unauthenticated/signin.tsx
  src/utils/usePasswordStrength.ts
Labels: dependencies, frontend, testing

#392 fix: Show red border when Field is invalid
  .changeset/pretty-balloons-yell.md
  src/components/common/ComboBox/ComboBox.tsx
  src/components/common/DateField/DateField.tsx
  src/components/common/DatePicker/DatePicker.tsx
  src/components/common/DateRangePicker/DateRangePicker.tsx
  src/components/common/NumberField/NumberField.tsx
  src/components/common/SearchField/SearchField.tsx
  src/components/common/TextArea/TextArea.tsx
  src/components/common/TextField/TextField.tsx
  src/components/common/TimeField/TimeField.tsx
Labels: frontend

#388 feat: Add last updated date to quests
  .changeset/lovely-owls-sniff.md
  convex/questFaqs.test.ts
  convex/questFaqs.ts
  convex/questSteps.test.ts
  convex/questSteps.ts
  convex/quests.test.ts
  convex/quests.ts
  convex/schema.ts
  src/components/FormattedDate.test.tsx
  src/components/FormattedDate.tsx
  src/components/TimeAgo.test.tsx
  src/components/TimeAgo.tsx
  src/components/quests/QuestPageFooter/QuestPageFooter.tsx
  src/components/quests/QuestUpdated/QuestUpdated.tsx
  src/components/quests/index.ts
  src/routes/_authenticated/_home/$questSlug.index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
Labels: frontend, backend, testing

#396 chore: Set up migrations
  .changeset/good-jobs-switch.md
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/convex.config.ts
  convex/migrations.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, backend

#397 fix: `RichText` should not display focus ring when non-editable
  .changeset/wild-jeans-raise.md
  src/components/common/RichText/RichText.tsx
Labels: frontend

#399 chore: Enable CSS linting and formatting with Biome
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
Labels: workflows

#400 feat: Display navigation controls within forms
  .changeset/cold-trains-tickle.md
  src/components/forms/FormContainer/FormContainer.test.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormNavigation/FormNavigation.test.tsx
  src/components/forms/FormNavigation/FormNavigation.tsx
  src/components/forms/FormSection/FormSection.test.tsx
  src/components/forms/FormSection/FormSection.tsx
  src/components/forms/index.ts
  tests/vitest.setup.ts
Labels: frontend, testing

#398 chore: Create Migration for Quests.updatedAt in preparation for making it mandatory
  convex/migrations.test.ts
  convex/migrations.ts
Labels: backend, testing

#413 chore: Add MIT license and relocate `/docs`
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  docs/CHANGELOG.md
  docs/LICENSE.md
Labels: documentation

#411 chore: Make `quests.updatedAt` required
  convex/migrations.test.ts
  convex/questFaqs.test.ts
  convex/questSteps.test.ts
  convex/quests.test.ts
  convex/schema.ts
  convex/userQuests.test.ts
  convex/users.test.ts
  src/components/common/FormattedDate/FormattedDate.test.tsx
  src/components/common/FormattedDate/FormattedDate.tsx
  src/components/common/TimeAgo/TimeAgo.test.tsx
  src/components/common/TimeAgo/TimeAgo.tsx
  src/components/common/index.ts
  src/components/quests/QuestUpdated/QuestUpdated.tsx
  src/routes/_authenticated/admin/quests.index.tsx
Labels: frontend, backend, testing

#415 Revert "chore: Make `quests.updatedAt` required"
  convex/migrations.test.ts
  convex/questFaqs.test.ts
  convex/questSteps.test.ts
  convex/quests.test.ts
  convex/schema.ts
  convex/userQuests.test.ts
  convex/users.test.ts
  src/components/FormattedDate.test.tsx
  src/components/FormattedDate.tsx
  src/components/TimeAgo.test.tsx
  src/components/TimeAgo.tsx
  src/components/common/index.ts
  src/components/quests/QuestUpdated/QuestUpdated.tsx
  src/routes/_authenticated/admin/quests.index.tsx
Labels: frontend, backend, testing

#416 chore: Make `quests.updatedAt` required
  convex/migrations.test.ts
  convex/questFaqs.test.ts
  convex/questSteps.test.ts
  convex/quests.test.ts
  convex/schema.ts
  convex/userQuests.test.ts
  convex/users.test.ts
  src/components/common/FormattedDate/FormattedDate.test.tsx
  src/components/common/FormattedDate/FormattedDate.tsx
  src/components/common/TimeAgo/TimeAgo.test.tsx
  src/components/common/TimeAgo/TimeAgo.tsx
  src/components/common/index.ts
  src/components/quests/QuestUpdated/QuestUpdated.tsx
  src/routes/_authenticated/admin/quests.index.tsx
Labels: frontend, backend, testing
