Repository namesakefyi/namesake, pull requests merged in 2025-04, with the labels that each got.

#451 chore: Add missing unit tests
  src/components/app/AppSidebar/AppSidebar.test.tsx
  src/components/app/Logo/Logo.tsx
  src/components/quests/JurisdictionInterstitial/JurisdictionInterstitial.test.tsx
  src/components/quests/QuestBasics/QuestBasics.test.tsx
  src/components/quests/QuestPageFooter/QuestPageFooter.test.tsx
  src/components/quests/QuestPageHeader/QuestPageHeader.test.tsx
  src/components/quests/QuestSteps/QuestSteps.test.tsx
  src/components/settings/UserDataForm/UserDataForm.tsx
  src/components/settings/UserDataForms/UserDataForms.tsx
  src/main.tsx
  tests/vitest.setup.ts
Labels: frontend, testing

#450 feat: Prefill form fields from existing responses
  .changeset/some-places-build.md
  convex/constants.ts
  convex/model/userFormResponsesModel.ts
  convex/userFormResponses.ts
  src/components/settings/FormResponsesList/FormResponsesList.test.tsx
  src/components/settings/FormResponsesList/FormResponsesList.tsx
  src/routes/_authenticated/forms/ma-court-order.tsx
  src/routes/_authenticated/settings/responses.tsx
  src/utils/encryption.test.ts
  src/utils/encryption.ts
  src/utils/useForm.test.ts
  src/utils/useForm.ts
  src/utils/useFormEncryptAndSubmit.test.tsx
  src/utils/useFormEncryptAndSubmit.ts
  tests/vitest.setup.ts
Labels: frontend, backend, testing

#475 fix: Do not nest unnecessary `Dialog` within `Popover`
  .changeset/curvy-pumas-fold.md
  src/components/common/ComboBox/ComboBox.stories.tsx
  src/components/common/ComboBox/ComboBox.tsx
  src/components/common/DateField/DateField.tsx
  src/components/common/DatePicker/DatePicker.tsx
  src/components/common/DateRangePicker/DateRangePicker.tsx
  src/components/common/Dialog/Dialog.tsx
  src/components/common/Field/Field.tsx
  src/components/common/ListBox/ListBox.tsx
  src/components/common/Menu/Menu.test.tsx
  src/components/common/Menu/Menu.tsx
  src/components/common/Popover/Popover.stories.tsx
  src/components/common/Popover/Popover.test.tsx
  src/components/common/Popover/Popover.tsx
  src/components/common/RangeCalendar/RangeCalendar.tsx
  src/components/common/RichText/RichText.tsx
  src/components/common/Select/Select.tsx
  src/components/quests/StatGroup/StatGroup.tsx
  src/components/utils.ts
Labels: bug, frontend, testing

#484 fix: Fix types broken in #475
  src/components/settings/EditEmailSetting/EditEmailSetting.tsx
  src/components/settings/EditNameSetting/EditNameSetting.tsx
Labels: bug, frontend

#483 fix: Resolve Posthog console warning
  .changeset/fair-jeans-yell.md
  src/components/settings/DeleteFormResponseModal/DeleteFormResponseModal.tsx
  src/main.tsx
  src/routes/__root.tsx
  src/utils/encryption.test.ts
  src/utils/encryption.ts
  src/utils/useForm.test.ts
  src/utils/useForm.ts
  tests/vitest.setup.ts
Labels: frontend, testing

#493 chore: Remove `QuestReferences` components
  src/components/quests/QuestReferences/QuestReferences.tsx
  src/components/quests/index.ts
  src/routes/_authenticated/_home/quests.$questSlug.index.tsx
Labels: frontend

#469 feat: Support showing loading state in `Button`
  .changeset/smooth-students-knock.md
  src/components/common/Button/Button.stories.tsx
  src/components/common/Button/Button.test.tsx
  src/components/common/Button/Button.tsx
  src/components/quests/EditQuestCostsModal/EditQuestCostsModal.tsx
  src/components/quests/EditQuestTimeRequiredModal/EditQuestTimeRequiredModal.tsx
  src/components/quests/JurisdictionInterstitial/JurisdictionInterstitial.tsx
  src/components/quests/QuestBasics/QuestBasics.test.tsx
  src/components/quests/QuestFaqs/QuestFaqs.tsx
  src/components/settings/EditBirthplaceSetting/EditBirthplaceSetting.tsx
  src/components/settings/EditEmailSetting/EditEmailSetting.tsx
  src/components/settings/EditNameSetting/EditNameSetting.tsx
  src/components/settings/EditResidenceSetting/EditResidenceSetting.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/routes/_authenticated/forms/ma-court-order.tsx
  src/routes/_unauthenticated/signin.tsx
Labels: frontend, testing

#495 chore: Publish Storybook to GitHub Pages
  .github/workflows/storybook.yml
  .gitignore
  README.md
  biome.json
Labels: workflows

#496 chore: Remove references / urls from `quests` schema
  convex/model/questsModel.ts
  convex/quests.ts
  convex/schema.ts
Labels: backend

#498 fix: Autofill field styles
  .changeset/silver-seals-bow.md
  src/components/common/Field/Field.tsx
  src/styles/index.css
Labels: frontend

#479 feat: Overhaul `Editor` component
  .changeset/odd-keys-report.md
  convex/schema.ts
  package.json
  pnpm-lock.yaml
  src/components/common/Button/Button.tsx
  src/components/common/Editor/Editor.stories.tsx
  src/components/common/Editor/Editor.test.tsx
  src/components/common/Editor/Editor.tsx
  src/components/common/Editor/EditorLinkButton.test.tsx
  src/components/common/Editor/EditorLinkButton.tsx
  src/components/common/Editor/EditorToolbar.test.tsx
  src/components/common/Editor/EditorToolbar.tsx
  src/components/common/Editor/extensions/ButtonComponent.test.tsx
  src/components/common/Editor/extensions/ButtonComponent.tsx
  src/components/common/Editor/extensions/button.ts
  src/components/common/Editor/extensions/constants.ts
  src/components/common/Field/Field.tsx
  src/components/common/Link/Link.tsx
  src/components/common/Popover/Popover.tsx
  src/components/common/RichText/RichText.stories.tsx
  src/components/common/RichText/RichText.tsx
  src/components/common/Toolbar/Toolbar.tsx
  src/components/common/index.ts
  src/components/quests/QuestContent/QuestContent.tsx
  src/components/quests/QuestFaqs/QuestFaqs.tsx
  src/components/quests/QuestSteps/QuestSteps.tsx
  src/styles/index.css
  vite.config.ts
Labels: dependencies, frontend, backend, testing

#497 chore: Remove `questSteps` components, table, and model
  convex/_generated/api.d.ts
  convex/model/questsModel.ts
  convex/questSteps.test.ts
  convex/questSteps.ts
  convex/quests.ts
  convex/schema.ts
  src/components/quests/QuestContent/QuestContent.tsx
  src/components/quests/QuestSteps/QuestSteps.test.tsx
  src/components/quests/QuestSteps/QuestSteps.tsx
  src/components/quests/index.ts
  src/routes/_authenticated/_home/quests.$questSlug.index.tsx
Labels: frontend, backend, testing

#500 fix: Editor `onUpdate` events
  .changeset/odd-ghosts-repeat.md
  src/components/quests/QuestContent/QuestContent.tsx
Labels: bug, frontend

#503 fix: Add "save changes" button to `QuestContent` editor
  .changeset/stupid-ants-punch.md
  convex/quests.ts
  src/components/quests/QuestContent/QuestContent.tsx
Labels: frontend, backend

#499 fix: Improve form pagination design and functionality
  .changeset/giant-pets-admire.md
  src/components/common/ProgressBar/ProgressBar.tsx
  src/components/forms/FormContainer/FormContainer.test.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormNavigation/FormNavigation.test.tsx
  src/components/forms/FormNavigation/FormNavigation.tsx
  src/components/forms/FormSection/FormSection.tsx
  src/styles/index.css
  src/utils/getFormSectionId.test.ts
  src/utils/getFormSectionId.ts
  src/utils/useFormSections.ts
Labels: frontend, testing

#506 fix: Improve visuals
  .changeset/tidy-dancers-flash.md
  src/components/app/PageHeader/PageHeader.tsx
  src/components/common/Badge/Badge.tsx
  src/components/common/Button/Button.tsx
  src/components/common/Menu/Menu.tsx
  src/components/common/Nav/Nav.tsx
  src/components/common/Tooltip/Tooltip.tsx
  src/components/forms/FormContainer/FormContainer.test.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormNavigation/FormNavigation.tsx
  src/components/forms/FormSection/FormSection.test.tsx
  src/components/forms/FormSection/FormSection.tsx
  src/components/quests/QuestCallToAction/QuestCallToAction.tsx
  src/components/quests/QuestPageBadges/QuestPageBadges.tsx
  src/components/quests/QuestPageToolbar/QuestPageToolbar.tsx
  src/components/quests/QuestsNav/QuestsNav.tsx
  src/components/quests/StatusSelect/StatusSelect.tsx
  src/components/settings/FormResponsesList/FormResponsesList.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated/_home/index.tsx
  src/routes/_authenticated/_home/quests/$questSlug/edit.tsx
  src/routes/_authenticated/_home/quests/$questSlug/index.tsx
  src/routes/_authenticated/_home/quests/$questSlug/route.tsx
  src/routes/_authenticated/_home/quests/birth-certificate.index.tsx
  src/routes/_authenticated/_home/quests/court-order.index.tsx
  src/routes/_authenticated/_home/quests/index.tsx
  src/routes/_authenticated/_home/quests/state-id.index.tsx
  src/routes/_authenticated/admin/early-access.index.tsx
  src/routes/_authenticated/admin/quests.index.tsx
  src/styles/index.css
Labels: frontend, testing

#508 fix: Fix sign in and sign out redirects
  .changeset/six-shrimps-occur.md
  convex/users.ts
  src/components/settings/DeleteAccountSetting/DeleteAccountSetting.test.tsx
  src/components/settings/DeleteAccountSetting/DeleteAccountSetting.tsx
  src/components/settings/SettingsNav/SettingsNav.test.tsx
  src/components/settings/SettingsNav/SettingsNav.tsx
  src/main.tsx
  src/routes/__root.tsx
  src/routes/_authenticated.tsx
  src/routes/_authenticated/signout.tsx
  src/routes/_unauthenticated/signin.tsx
  src/styles/index.css
  src/utils/waitFor.test.ts
  src/utils/waitFor.ts
Labels: bug, frontend, backend, testing

#510 fix: Add error boundaries and PostHog reporting
  .changeset/rich-parrots-sin.md
  src/components/app/AppContent/AppContent.test.tsx
  src/components/app/AppContent/AppContent.tsx
  src/components/app/AppSidebar/AppSidebar.test.tsx
  src/components/app/AppSidebar/AppSidebar.tsx
  src/components/common/Empty/Empty.tsx
  src/main.tsx
  tests/vitest.setup.ts
Labels: frontend, testing

#515 chore: Exclude routes from coverage testing, add thresholds for coverage
  package.json
  pnpm-lock.yaml
  src/components/quests/ReadingScore/ReadingScore.stories.tsx
  src/components/quests/ReadingScore/ReadingScore.tsx
  src/components/quests/index.ts
  src/types/text-readability.d.ts
  vite.config.ts
Labels: dependencies, frontend

#524 fix: Update title with jurisdiction badge, tweak typography
  .changeset/ripe-doors-follow.md
  src/components/common/Banner/Banner.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormNavigation/FormNavigation.tsx
  src/routes/_authenticated/documents/index.tsx
  src/routes/_authenticated/forms/ma-court-order.tsx
Labels: frontend
